@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');

body {
    background-color: #fff;
}

*{
    font-family: 'Oswald', sans-serif;
    box-sizing: padding-box;
}

form {
    display: flexbox;
    width: 1000px;
    border: 3px solid rgb(0, 0, 0);
    padding: 20px;
    background: #e3f2fd;
    border-radius: 10px;
    align-items: center;
    margin: auto;
}

input[type=text]{
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}

input[type=password]{
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}

input[type=submit] {
    background: #2196f3;
    padding: 10px 15px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    border: none;
}

input[type=submit]:hover {
    opacity: .7;
}

.error {
   color: #ff0000;
}


#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;

}

.menuitem {
    float: right;
    display: block;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    background-color: #fff;
    opacity: 0.8;
    border: 1px;
}

.menuitem:hover {
    opacity: 1;
}

button {
    background: #2196f3;
    width: 150px;
    padding: 10px 15px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    margin-right: 10px;
    border: 1px;
    font-size: 16px;
    text-decoration: none;
}

button:hover {
    opacity: .7;
}

.loginform {
    display: flexbox;
    width: 500px;
    border: 3px solid rgb(0, 0, 0);
    padding: 20px;
    background: #e3f2fd;
    border-radius: 10px;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -60%);
    transform: translate(-50%, -60%);
}

.splash {
    width: 25%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.insplash {
    text-align: center;
    margin: auto;
}

.items {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.items .donebutton {
    display: inline-block;
    background-color: #d9dfe1;
    font-size: 0.8em;
    color: #363639;
    padding: 3px 6px;
    border: 0;
    opacity: 0.4;
}

.items .donebutton:hover {
    opacity: 1;
}

.items .deletebutton {
    float: right;
    background-color: #d9dfe1;
    font-size: 0.8em;
    color: #363639;
    padding: 3px 6px;
    border: 0;
    opacity: 0.4;
}

.items .deletebutton:hover {
    opacity: 1;
}

.list {
    margin: 20px auto;
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    box-sizing: border-box;
}

.items li {
    border: 0;
    border-bottom: 1px dashed #ccc;
    padding: 15px 0;
}

.items .itemdone {
    text-decoration: line-through;
}

.input:focus {
    outline: none;
}

.submit {
    font-size: 0.9em;
    width: 100%;
    margin: auto;
}

#deadcenter{
	position:absolute;
	top:50%;
	width:980px;
	height:1px;
	background: none;
}

#main-container{
	border:0;
	width:1500px;
	height:750px;
	margin:0 auto;
	position:relative;
}

.box{
    position:absolute;
	width:250px;
	height:150px;
	background:transparent;
	border:0px solid black;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}

#topleft{
	margin:0 auto;
	top:50%;
	left:50%;
	margin-top:-160px;
	margin-left:-260px;
}

#topleftbutton{
    width:250px;
	height:150px;
    background: #e3f2fd url("images/todolist.png") 10px 10px no-repeat;
    background-size: 40px 40px;
    border: 1px solid black;
}

#topright{
	margin:0 auto;
	top:50%;
	left:50%;
	margin-top:-160px;
	margin-left:10px;
}

#toprightbutton{
    width:250px;
	height:150px;
    background: #e3f2fd url("images/calendar.png") 10px 10px no-repeat;
    background-size: 40px 40px;
    border: 1px solid black;
}

#bottomleft{
	margin:0 auto;
	top:50%;
	left:50%;
	margin-top:10px;
	margin-left:10px;
}

#bottomleftbutton{
    width:250px;
	height:150px;
    background: #e3f2fd url("images/spreadsheet.png") 10px 10px no-repeat;
    background-size: 40px 40px;
    border: 1px solid black;
}

#bottomright{
	margin:0 auto;
	top:50%;
	left:50%;
	margin-top:10px;
	margin-left:-260px;
}

#bottomrightbutton{
    width:250px;
	height:150px;
    background: #e3f2fd url("images/notes.png") 10px 10px no-repeat;
    background-size: 40px 40px;
    border: 1px solid black;
}